body {
	background:#101010;
	font-family: Trebuchet MS;
	color:#CCFFFF;
	border:double;
    border-color:cadetblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}